<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Symbiote.Daemon" version="0.1.0.30" />
  <package id="Symbiote.Log4Net" version="0.1.0.31" />
  <package id="Symbiote.StructureMap" version="0.1.0.31" />
  <package id="Symbiote.Core" version="0.1.0.38" />
  <package id="Symbiote.Actor" version="0.1.0.38" />
  <package id="Symbiote.Messaging" version="0.1.0.38" />
  <package id="Symbiote.Rabbit" version="0.1.0.38" />
</packages>