<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="boolean" value="true" />
    <add key="string" value="this is a string!" />
    <add key="short" value="2" />
    <add key="int" value="64000" />
    <add key="long" value="64000000" />
    <add key="decimal" value="1.5" />
    <add key="double" value="10.49" />
    <add key="float" value="1048.9831" />
    <add key="datetime" value="01/15/1983" />
    <add key="guid" value="00000000-0000-0000-0000-000000000001" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>